* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: white;
    color: #4e4544;
    font: normal 16px sans-serif;
}

/* Page Layout */

.container{
    display: grid;
    max-width: 900px;
    background-color: rgba(67, 242, 79, 2);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:"header header"
                        "main barraLat"
                        "footer footer";
    grid-gap: 3%;
    margin: 0 auto;
    padding: 0 60px;
}

/* Header */

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "texto boton";
    color: black;
    padding: 20px 0;
}

header nav {
    grid-area: texto;
    justify-self: start;
    list-style: none;

/*  This did not work well, inline-block used instead */
/*  display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: end;*/
}

header nav li {
    margin-right: 15px;
    display: inline-block;
}

header button {
    grid-area: boton;
    justify-self: end;
    background-color: white;
    border: none;
    padding: 8px 25px;
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;
}

/* Main Section */

.main {

    grid-area: main;
    text-align: center;
}

.main h2 {
    font-size: 32px;
    margin-bottom: 55px;
}

.main p {
    margin-bottom: 50px;
}

.main img {
    width: 100%;
}


/* Sidebar */

.sidebar {
    grid-area: barraLat;
    display: grid;
    grid-template-columns: 20fr;
    background-color: black;
    border: 1px solid #a2a2a2;
    padding: 20px;
}

/* Footer */

footer {
    grid-area: footer;
    color: #fcfaff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    grid-area: footer;
    color: #777;
    font-size: 12px;
    padding: 10px;
}

@media (max-width: 600px){
    .container{
        background-color: black;
        color: #00c900;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "barraLat"
                             "main"
                             "footer";
    }

    .sidebar{


    }

    header{
        display: grid;
        color: #00c900;
        grid-template-columns: 1fr;
        grid-template-areas: "texto"
                             "boton";
    }

    header button {
        justify-self: center;
    }
}
